* text=lf
*.bat eol=crlf
*.js eol=lf
*.mjs eol=lf
*.cjs eol=lf
*.ts eol=lf

*.css linguist-detectable
*.json linguist-detectable
*.jsonc linguist-detectable
*.json5 linguist-detectable
*.md linguist-documentation
*.svg linguist-detectable
*.yaml linguist-detectable
*.yml linguist-detectable

docs/** linguist-documentation
dist/** linguist-generated
